.sr-only {
	position: absolute;
	padding: 0;
	width: 0;
	height: 0;
	margin: -1;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		border-radius 0.15s ease-in-out, padding 0.15s ease-in-out,
		color 0.15s ease-in-out, font-size 0.15s ease-in-out,
		border 0.15s ease-in-out;
	color: $light_color;
	cursor: pointer;
	&:hover {
		color: rgba($color: $dark_color, $alpha: 1);
		padding: 0.6rem 1.1rem;
		font-size: 1.1rem;
		border-radius: 0.9rem;
	}
	&-primary {
		background-color: $primary_color;
		border-color: $primary_color;
		&:hover {
			background-color: rgba($color: $primary_color, $alpha: 0.6);
			border: 0.3rem solid rgba($color: $light_color, $alpha: 0.8);
		}
	}
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li {
		a {
			font-size: 1.5rem;
			font-weight: 600;
			text-align: center;
			padding: 0.5rem 1rem;
		}
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.35rem 3rem;
	background-color: $light_color;
	border-bottom: 2px solid mix($dark_color, white, 10%);
	position: sticky;
	top: 0;
	z-index: 1;
	margin-bottom: 2rem;

	img {
		width: 100px;
		height: 50px;
	}
	@include mq(xs) {
		padding: 0.45rem 0.8rem;
		img {
			width: 120px;
			height: 60px;
		}
	}
	@include mq(sm) {
		padding: 0.45rem 1rem;
		img {
			width: 140px;
			height: 70px;
		}
	}
}

main {
	margin-top: 2rem;
	padding: 1.5rem 1rem;
	border: 2px solid $light_color;
	border-radius: 0.25rem;
	box-shadow: 3px 2px 20px 4px rgba($dark_color, 0.3);
	min-height: 80vh;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	width: auto;
}

.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	gap: 1rem;
}
