.sr-only {
	position: absolute;
	padding: 0;
	width: 0;
	height: 0;
	margin: -1;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.btn {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		border-radius 0.15s ease-in-out, padding 0.15s ease-in-out,
		color 0.15s ease-in-out, font-size 0.15s ease-in-out,
		border 0.15s ease-in-out;
	color: $light_color;
	cursor: pointer;
	&:hover {
		color: rgba($color: $dark_color, $alpha: 1);
		padding: 0.6rem 1.1rem;
		font-size: 1.1rem;
		border-radius: 0.9rem;
	}
	&-primary {
		background-color: $primary_color;
		border-color: $primary_color;
		&:hover {
			background-color: rgba($color: $primary_color, $alpha: 0.6);
			border: 0.3rem solid rgba($color: $light_color, $alpha: 0.8);
		}
	}
}
