.modal {
	display: none;

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 8rem auto;
		width: 50%;
		height: 70%;
		background-color: $light_color;
		border-radius: 2rem;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		overflow: hidden;
		position: relative;
	}
	&-close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem;
		border: none;
		background-color: transparent;
		cursor: pointer;
		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	&-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
	}
	
}

.modal.open {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($dark_color, 0.5);
	z-index: 9999;
	overflow: hidden;
}
